[Desktop Entry]
Type=Link
Name=Disk Layout
URL=https://docs.google.com/spreadsheets/d/1sT4Yo1oEt1qL5AcbQv7MluyOFm_wWn4d3pLUF8EjtNg/edit?usp=drive_link
Icon=web-browser
