[Desktop Entry]
Type=Link
Name=Memory Layout
URL=https://docs.google.com/spreadsheets/d/17tEf6_H-LFiUUPon8wDlyLnpNJ26PXk6/edit?usp=drive_link&ouid=113951744006638787243&rtpof=true&sd=true
Icon=web-browser
